<div class="container">
  <h1><%= t "post.all_entries" %></h1>
  <% @posts.each do |post|%>
    <div class="post">
      <p class="lead"><%= t "post.posted_by" %>
        <%= link_to post.user_name, post.user %>
      </p>
      <p><span class="glyphicon glyphicon-time"></span>
      <%= t "post.posted_at" %> <%= timeago(post.created_at) %>
      <p><%= post.content_type %> </p>
      <%= link_to t("post.read_more"), post , class: "btn btn-primary" %>
      <hr>
    </div>
  <% end %>
  <%= will_paginate %>
</div>
