<div class="row">
  <div class="col-lg-8">
    <p class="lead"><%= t "post.posted_by" %>
      <%= link_to @post.user_name, @post.user %>
    </p>
    <p>
      <span class="glyphicon glyphicon-time"></span>
      <%= t "post.posted_at" %> <%= timeago(@post.created_at) %>
    </p>
    <p><%= @post.content_type %> </p>
    <hr>
    <span class="like_form">
      <%= render "likes/like_form", post: @post %>
    </span>
    <div class="well" id="well">
      <h4><%= t "comment.leave_a_comment" %></h4>
      <%= form_for @comment, url: comments_path, html: {method: :post}, remote: true  do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <div class="col-md-10">
          <%= f.text_area :content, placeholder: t("comment.compose_new_comment"), class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.submit t("comment.submit"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div id="comments">
      <%= render @post.comments %>
    </div>
  </div>
</div>
